@model GuessThePrice.Models.Picture
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Guess the price of paint</title>
    <style>
        .my_button {
            width: 300px;
            height: 60px;
            font-size: 40px;
        }
    </style>
</head>
<body>
    <div align="center"><b>@Model.RowKey  "@Model.PartitionKey"</b></div>
    <div align="center"><img src=@Model.URL width="640" /></div>
    <div align="center" style="margin-bottom:5px">You think the paint costs @ViewBag.guessedPrice, but it costs @Model.Price</div>
    <div align="center">
        <form action="/Home/Index">
            <input type="submit" name="NextBtn" value="Next" class="my_button" />
        </form>
    </div>
</body>
</html>
